/*
Each of these CSS elements is associated with an HTML Element, Class, or ID.
Flip between this CSS file and the HTML to see how things line up.
Experiment with deleting lines of code from the CSS to see how it affects the webpage when you refresh in the browser.
*/

.everything {
    border: 12px solid black;
    background-color: rgb(29, 28, 28);
    
}
div {
    color: white;
}
#h2title {
    top: 20px;
    position: relative;
}
.topnav {
    background-color: #333;
    overflow: hidden;
    box-shadow: #333 4px 4px 4px 4px;
    color: white;
}
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
.container {
    max-width: 800px;
    min-width: 530px;
}
.profile-pic {
    position: relative;
    top: 70px;
    left: 70px;
    border: 2px solid black;
    box-shadow: #333 4px 4px;
    max-width: 600px;
}
#info {
    top: 90px;
    left: 200px;
    position: relative;
    text-shadow: #333 4px;
    font-family: papyrus;
    margin: 20px;
    max-width: 600px;
    color: whitesmoke;
    background-image: url(lights.jpg);
    border: 2px solid black;

    
}
#p3 { 
    top: 210px;
    position: relative;
    float: left;
    left: 100px;
    color: white;
}

#p4 {
    top: -20px;
    position: absolute;
    float: right;
    overflow: hidden;
    max-width: 400px;
    left: 450px;

}
.button {
    background-color: #333;
    color: white; 
    margin: 20px;
    padding: 10px;
    position: relative;
    top: 20px;
    left: 50%;
}
#demo {
visibility: hidden;
top: -150px;
font-family: cursive;
color:white;
}
.row {
    max-width: 700px;
    min-width: 530px;
}
.container2 {
    position: relative;
    top: 200px;
    visibility: hidden;
    left: 300px;
    font-family: monospace;
    max-width: 850px;
}
.jumbotron {
    background-image: url(jumbotron.jpg);
    background-repeat: no-repeat;
    background-color: rgb(29, 29, 29);
    background-size: cover;
    
}
#fuckYou {
    width: 10%;
    font-size: 4px;
    transition-property: font-size;
    transition-duration: 2s;
    transition-delay: .25s;
    font-family: monospace;
    color: white;
    }
#fuckYou:hover {
    font-size: 36px;
    color: white;
}
#color {
    width: 200px;
    opacity: .5;
    border: 2px black;
    position: relative;
    left: 125px;
}
#color:hover {
    opacity: .2;
}
.fade {
    opacity: .5;
}
.fade:hover {
    opacity: .2;
}
.button1{
position: relative;
top: 55px;
}
.button2 {
position: relative;
top: 55px;
}
.container3 {
    visibility: hidden;
}
h1 {
    color: lightgrey;
}
.lead {
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
/* The sidebar menu */
.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 160px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    right: 0;
    background-color: #111; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
}

/* The navigation menu links */
.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #e9e5e7;
    display: block;
    text-align: center;
    -webkit-transition: width 2s, height 2s, background-color 2s, -webkit-transform 2s;
    transition: width 2s, height 2s, background-color 2s, transform 2s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #be4c4c;
    background-color:rgba(41, 88, 100, 0.973);
    font-family: cursive;
}

/* Style page content */
.main {
    margin-left: 160px; /* Same as the width of the sidebar */
    padding: 0px 10px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}